#ellc==1.8.7
#git+https://github.com/pmaxted/ellc.git
#matplotlib==3.6.1
dynesty==2.0.0
corner==2.2.1
pandas==1.5
astropy==5.1
lightkurve==2.4.2
tess-point
scipy==1.9
numpy==1.23
seaborn==0.12
statsmodels==0.13.2
celerite==0.4.2
brokenaxes==0.5.0
rebound==3.20.0
loguru==0.7.3
git+https://github.com/jpdeleon/limbdark2.git
